<h1>Contact us</h1>
<form action="/contact" method="post">
  <label for="contact_name">Name: </label> 
  <input id="contact_name" name="contact[name]" type="text" /> 
  <label for="contact_email">email</label> 
  <input id="contact_email" name="contact[email]" type="text" /> 
  <label for="contact_comment">Comment</label> 
  <textarea cols="40" id="contact_comment" name="contact[comment]" rows="20"></textarea> 
  <input id="contact_submit" name="commit" type="submit" value="Send" /> 
</form>

